# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
venv/
ENV/
env/

# Git
.git

# Cloned Repo
cloned_mcp_agents_hub/
tmp/

# VS Code
# Uncommented to allow .vscode configuration to be committed
# .vscode/
reports/
